
    <h2>Idea Box</h2>
    <form method="post" action="/">
      <input type="text" name="title" /><br />
      <textarea name="description" ></textarea><br />
        <input type="submit" />
    </form>
